.navbar {
  background-color: #8883;
  box-shadow: 0 10px 50px -2px rgba(0,0,0,.14);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
}

.navbar nav .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar nav .logo img {
  width: 200px;
}
.navbar nav ul {
  display: flex;
  list-style: none;
}
.navbar nav ul li {
  padding: 7px 20px;
}
.navbar nav ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.navbar nav ul li a:hover {
  color: rgb(0, 0, 255);
}


@media (max-width:768px) {
  
}